## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
*.DotSettings.user

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Rider
.idea/
*.sln.iml

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## OS
.DS_Store
Thumbs.db
